# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

Build
Build_RPRUsdInstall
Release*/
x64/
.suo
.db
*.user
*.db
*.opendb
.DS_Store
.vs



