[submodule "RadeonProRenderUSD"]
	path = RadeonProRenderUSD
	url = git@github.com:GPUOpen-LibrariesAndSDKs/RadeonProRenderUSD.git
[submodule "RprUsd/RenderStudioResolver"]
	path = RprUsd/RenderStudioResolver
	url = git@github.com:GPUOpen-LibrariesAndSDKs/RenderStudioKit.git
